.achat-card__title {
  font-family: 'Neo Sans Pro';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  color: #202227;
  margin: 0;
}

.achat-card__text {
  font-size: 16px;
  line-height: 20px;
  color: #202227;
  margin: 0;
}

.icon-label__container {
  display: inline-flex;
}

.separator {
  border: 1px solid #dbe2f4;
  margin: 10px 0 10px;
}

.timeline-card__text {
  font-family: 'Neo Sans Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #35b990;
  margin: 0;
}
