.logo__container {
  margin: 5px;
  display: flex;
  align-items: center;
}

.logo-title__left {
  margin-left: 10px;
  font-family: 'Neo Sans Pro';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #202227;
}

.logo-title__right {
  margin-left: 5px;
  font-family: 'Neo Sans Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #202227;
}

.logo__icon {
  width: '38px';
}
