.client-card__title {
  font-family: 'Neo Sans Pro';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  color: #202227;
  margin: 0;
  padding: 14px 14px 0;
}

.client-card__text {
  font-size: 16px;
  line-height: 20px;
  color: #202227;
  margin: 0;
}

.icon-label__container {
  display: inline-flex;
}
